* {
    margin: 0;
}

h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

header {
    background-color: #6D6F70;
}

header > nav {
    background-color: #4D4F50;
}

header > nav > ul  {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

header > nav > ul > li > button {
    color: black;
    background-color: #4D4F50;
    border-style: none;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}

header > nav > ul > li > button:hover {
    background-color: #474949;
}

main > div {
    background-color: #6D6F70;
}

h3 {
    background-color: #4D4F50;
}

#main_home > div > h3 > a{
    text-decoration: none;
    color: black;
} 

#main_home > div > div{
    display: flex;
}   